.index__body__left-side--bottom--article
  .index__body__left-side--bottom--article--content
    .left-side--bottom--article--title
      %span.theme it
      %span の記事
    .left-side--bottom--article--user
      =image_tag 'user.png' ,class:"user-icon"
      .left-side--bottom--article--user--about.clearfix
        .user-name HogeHoge
        .transmit-ago 12時間前
    .left-side--bottom--article--content 
      %p グーグル、アマゾンともに好調＝米ＩＴ大手の７～９月期決算
