.index__body__right-side
  .index__body__right-side--head.clearfix
    =image_tag 'news_sample1.jpeg',class:"index__body__right-side--head--main"
    .index__body__right-side--head--sub
      =image_tag 'news_sample2.png',class:"index__body__right-side--head--sub--top"
      =image_tag 'news_sample3.jpeg',class:"index__body__right-side--head--sub--bottom"
